#appsmenu {
    margin: 0 auto;
    left: 0 !important;
    width: 38%;
    left: 5px;
    border-radius: 10px;
    bottom: 55px;
}

.currenttheme::before {
    content: "Docked Theme";
}
#taskbar {
    width: 38%;
    border-radius: 10px;
    text-align: left !important;
}




